.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

body {
    background-image: url('img/bg.png');
    background-repeat: repeat;
    font-family: Arial;
}

h1 {
    display: block;
    position: relative;
    width: 600px;
    margin: 50px auto 10px;
    color: rgb(200, 90, 90);
}

h1 #score {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.7em;
    color: rgba(90, 200, 90, 0.8);
}

h1 #time {
    display: inline-block;
    position: absolute;
    width: 100px;
    bottom: 0px;
    left: 250px;
    font-size: 1em;
    color: rgba(20, 20, 20, 0.8);
    text-align: center;
}

#success {
    position: relative;
    width: 620px;
    height: 620px;
    top: -630px;
    margin: 0px auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(200, 90, 90);
    background-color: rgba(255, 255, 255, 0.8);
}

#success:hover {
    cursor: pointer;
}

#success h1 {
    display: table-cell;
    position: relative;
    width: 620px;
    height: 620px;
    color: rgba(90, 200, 90, 0.8);
    vertical-align: middle;
    text-align: center;
}

#board {
    position: relative;
    width: 620px;
    height: 620px;
    margin: 0px auto;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(200, 90, 90);
    background-color: rgba(255, 255, 255, 0.5);
}

#board .card {
    display: block;
    width: 130px;
    height: 130px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    background-color: rgb(200, 90, 90);
    background-repeat: no-repeat;
    background-position: -130px -130px;
}
#board .card:hover{
    cursor: pointer;
    background-color: lightcoral;
}

#board .open {
    background-position: center center;
    background-color: rgba(200, 90, 90, 0.4);
}

#board .solved {
    background-position: center center;
    background-color: rgba(90, 200, 90, 0.4);
}
